* {
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Navbar section */

.navbar {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
}

.logo {
    padding-left: 10px;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 900px;
    width: 400px;
}

.temp-border {
    border: 2px solid white;
}

.center-div {
    display: flex;
    justify-content: center;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 1200px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1404c0y*_ga*ODEwNjE2NDk4Ni4xNzEzMjczODUz*_ga_3LRZM6TM9L*MTcxNTYyMDEzNy4xOS4xLjE3MTU2MjI2NzUuNTguMC4w');
    background-size: cover;
}

.hero-bar {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    align-items: center;
}

.hero-bar h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-bar h4 {
    margin-top: 0;
}

/* Tea of the Month Section */

.tea-month {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin-left: 250px;
}

.tea-month h2 {
    font-size: 36px;
}

.tea-month h4 {
    margin-top: 0px;
}

.tea-month .picture-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea-month .picture-section .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.tea-month .picture-section .picture {
    width: 300px;
    height: 200px;
    margin-bottom: 0px;
}

.tea-month .picture-section .caption {
    margin-top: 10px;
    margin-bottom: 10px;
}